<section id="bannercontainer" class="bannercontainer">
                  <div class="banner">
                      <ul>
                          <!-- THE 1ST SLIDE -->
                          <li data-transition="papercut" data-slotamount="10" data-masterspeed="300">
                              <img src="/img/slides/coffee.jpg" alt="Slide Image">
                              <div class="tp-caption large_bold_white lft ltt"
                                  data-x="47"
                                  data-y="80"
                                  data-speed="300"
                                  data-start="1200"
                                  data-easing="easeOutExpo" style="font-size: 50px; line-height: 50px;">EASY <br> SCHEDULING</div>
                              <div class="tp-caption small_light_white sfl stl"
                                  data-x="50"
                                  data-y="185"
                                  data-speed="600"
                                  data-start="1400"
                                  data-easing="easeOutExpo">
                                  
                              </div>
                              <a href="" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                  data-x="50"
                                  data-y="320"
                                  data-speed="300" 
                                  data-start="1600"
                                  data-easing="easeOutExpo">Learn More</a>
                              <a href="/" class="caption btn btn-flat flat-color sfb stb"  
                                  data-x="170" 
                                  data-y="320" 
                                  data-speed="300"
                                  data-start="1800"
                                  data-easing="easeOutExpo">View Schedule</a>

                          </li>
                          <!-- THE 2ND SLIDE -->
                          <li data-transition="slideleft" data-slotamount="10" data-masterspeed="300">
                              <img src="/img/slides/festival.jpg" alt="Slide Image">
                              <div class="tp-caption large_bold_white lft ltt"
                                  data-x="47"
                                  data-y="80"
                                  data-speed="300"
                                  data-start="1200"
                                  data-easing="easeOutExpo" style="font-size: 50px; line-height: 50px;"> DON'T GET CAUGHT OFF GUARD<br> BY MAJOR EVENTS</div>
                              <div class="tp-caption small_light_white sfl stl"
                                  data-x="50"
                                  data-y="185"
                                  data-speed="600"
                                  data-start="1400"
                                  data-easing="easeOutExpo">
                                 
                              </div>
                              <a href="" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                  data-x="50"
                                  data-y="320"
                                  data-speed="300" 
                                  data-start="1600"
                                  data-easing="easeOutExpo">Learn More</a>
                              <a href="" class="caption btn btn-flat flat-color sfb stb"  
                                  data-x="170" 
                                  data-y="320" 
                                  data-speed="300"
                                  data-start="1800"
                                  data-easing="easeOutExpo"></a>
                              <div class="caption lfr ltr"
                                  data-x="590"
                                  data-y="90"
                                  data-speed="300"
                                  data-start="2000"
                                  data-easing="easeOutExpo"></div>
                          </li>
                          <!-- THE 3RD SLIDE -->
                          <li data-transition="boxslide" data-slotamount="10" data-masterspeed="300">
                              <img src="/img/slides/patio.jpg" alt="Slide Image">
                              <div class="tp-caption large_bold_white lft ltt"
                                  data-x="47"
                                  data-y="80"
                                  data-speed="300"
                                  data-start="1200"
                                  data-easing="easeOutExpo" style="font-size: 50px; line-height: 50px;"> </div>
                              <div class="tp-caption small_light_white sfl stl"
                                  data-x="50"
                                  data-y="185"
                                  data-speed="600"
                                  data-start="1400"
                                  data-easing="easeOutExpo">
                                  
                              </div>
                              
                          </li>
                      </ul>
                      <div class="tp-bannertimer tp-bottom"></div>
                  </div>
                  <!-- /.banner -->
              </section>
              <!-- /.bannercontainer -->
<section id="our-services" class="section colored-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 wrapper-1">
                            <div class="service service-2">
                                <span class="service-icon">
                                <a href='/signup'><i class="icon-smile"></i></a>
                                </span>
                                <h4>Sign Up</h4>
                            </div>
                        </div>
                        <!-- /.col-sm-6 -->
                        <div class="col-xs-12 col-sm-6 wrapper-1">
                            <div class="service service-2">
                                <span class="service-icon">
                                <a href= '/login' ><i class="icon-signin"></i></a>
                                </span>
                                <h4>Sign In</h4>
                            </div>
                        </div>

                        
                        <!-- /.col-sm-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>