<section id="our-story" class="section colored-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wrapper-1">
                        <h3 class="subpage-title">Add New Employee</h3>
                        <h4>
            
                        <%= form_tag '/signup', method: :post do %>
                            <div>First Name:<input type="text" name="first_name"></div>
                            <div>Last Name:<input type="text" name="last_name"></div>
                            <div>Email:<input type="email" name="email"></div>
                            <div>Password:<input type="password" name="password"></div>
                            <div>Confirm password:<input type="password" name="password_confirmation"></div>
                            <div> Company: <%= collection_select :company, :company_id, Company.all, :id, :name %></div>
                            <div>Position: <%= collection_select :position, :position_id, Position.all, :id, :name %></div>
                            <div>Manager Access? </div>
                            <div><input type="submit" value="Create Account" class="btn btn-flat flat-inverse"></div>
                        <% end %>
                        </h4>
                    </div>
                </div>
            </div>
</section>

