<h1>Sign up!</h1>

<%= form_tag '/signup', method: :post do %>
    <div>First Name:<input type="text" name="first_name"></div>
    <div>Last Name:<input type="text" name="last_name"></div>
    <div>Email:<input type="email" name="email"></div>
    <div>Password:<input type="password" name="password"></div>
    <div>Confirm password:<input type="password" name="password_confirmation"></div>
    <div> Company: <input type="integer" name="company_id"> </div>
    <div><input type="submit" value="Create Account"></div>
<% end %>

