<h1>Update Position</h1>

<%= form_tag "/positions/#{@position.id}", method: :patch do %>
    <div>Name: <input type="text" name="name" value="<%= @position.name %>"></div>
    <input type="hidden" name="company_id" value=" <%= @position.company_id %>">
    <input type="submit" value="Submit">
<% end %>