<h1>Create New Position</h1>

<%= form_tag '/positions', method: :post do %>
    <div>Name: <input type="text" name="name"></div>
    <div>Company Id: <input type="integer" name="company_id"></div>
<% end %>

<h1>Current Positions</h1>
<% if @positions %>
    <% @positions.each do |position| %>
    <div><%= position.name %> 
    <%= link_to "Update |", "/positions/#{position.id}/edit" %>
    <%= link_to " Delete", "/positions/#{position.id}", method: :delete %>

    </div>
<% end %>