<h1>Events</h1>

    <% @events.each do |event| %>
        <div> <%= event["name"]["text"] %> - 
        <%= event["capacity"] %> </div>
    <br>
    <% end %>

<h2>----------------</h2>

    <% @categories.each do |category| %>
        <%= category["name"] %>
        <br>
    <% end %>
