<section id="our-story" class="section colored-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wrapper-1">
                <h3 class="subpage-title">Edit Company Information</h3>
                <h4>
                    <%= form_tag "/companies/#{@company.id}", method: :patch do %>
                    <div>Name: <input type="text" name="name" value=" <%= @company.name %>"></div>
                    <br>
                    <div>Address: <input type="text" name="address" value=" <%= @company.address %>"></div>
                    <br>
                    <div><input type="submit" value="Submit" class="btn btn-flat flat-info">
                    <a href="/" class="btn btn-flat flat-inverse">Cancel</a></div>
                    <% end %>
                </h4>
                </div>

            <!-- <div class="col-md-2 wrapper-1"></div> -->

                <div class="col-md-6 wrapper-1">
                    <div id="map"></div>
                        <script>
                          function initMap() {
                            var uluru = {lat: 41.8827, lng: -87.6233};
                            var map = new google.maps.Map(document.getElementById('map'), {
                              zoom: 14,
                              center: uluru
                            });
                            var marker = new google.maps.Marker({
                              position: uluru,
                              map: map
                            });
                          }
                        </script>
                        <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_TOKEN'] %>&callback=initMap">
                        </script>
                    </div>
                </div>
            </div>
        </div>
</section>
