<section id="faqs" class="section faqs">
    <div class="container">
        <div class="row">
        <div class="col-md-2 content-wrapper"></div>
            <div class="col-md-8 content-wrapper">
                <div class="special-wrapper wrapper-1">
                <h3 class="subpage-title">Category Events</h3>
                    <%= form_tag '/companycategories', method: :post do %>
                        <table class="table">
                            <thead>
                            <tr class="info">
                                <th>Category </th>
                                <th>Will This Type of Event Affect You?</th>
                                <th> </th>
                            </tr>
                            </thead>
                        <% @categories.each do |cat| %>
                            <div>
                            <tr>
                                <td><h4><%= cat["name"] %></h4></td>
                                </h3>
                                <td><input type="checkbox" name="relevance" value="yes"><td>
                                <input type="hidden" name="category_id" value="#{cat.id}">
                               </tr> 
                            </div>
                        <% end %>
                        </table>
                                <%= submit_tag 'Submit', :class => "btn btn-flat flat-inverse" %>
                    <% end %>
                </div>
            </div>
        <div class="col-md-2 content-wrapper"></div>
        </div>
    </div>
</section>