<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="description" content="">
          <meta name="author" content="">
          <link rel="shortcut icon" href="/ico/favicon.png">
          <title>My Theme Name</title>
          <!-- Bootstrap Core CSS -->
          <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
          <!-- Plugins CSS -->
          <link href="/UItoTop/css/ui.totop.css" rel="stylesheet">
          <link href="/prettyPhoto/css/prettyPhoto.css" rel="stylesheet">
          <!-- REVOLUTION BANNER CSS SETTINGS -->
          <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen" />
          <!-- Custom Stylesheet For This Template -->
          <link href="/css/stylesheet.css" rel="stylesheet">
          <link href="/css/skins.css" rel="stylesheet">
          <!-- Font Awesome  -->    
          <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
          <!-- Google Fonts -->    
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
          <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!--[if lt IE 9]>
          <script src="/js/html5shiv.js"></script>
          <script src="/js/respond.min.js"></script>
          <![endif]-->
  </head>

  <body>

          <div id="main-wrapper" class="color-skin-3">
              <header id="header-1" class="header">
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-12 col-sm-8 header-info-wrapper">
                              <ul class="list-inline">
                                  <li><i class="icon-mobile-phone"></i> Mobile: (123) 456-7890</li>
                                  <li><i class="icon-envelope"></i> Mail: <a href="mailto:contact@example.com">contact@example.com</a></li>
                              </ul>
                              <!-- /.list-inline -->
                          </div>
                          <!-- /.header-info-wrapper -->
                          <div class="col-xs-12 col-sm-4 social-link-wrapper">
                              <ul class="social-links">
                                  <li><a href="#"><i class="icon-facebook"></i></a></li>
                                  <li><a href="#"><i class="icon-google-plus"></i></a></li>
                                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                                  <li><a href="#"><i class="icon-pinterest"></i></a></li>
                                  <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                  <li><a href="#"><i class="icon-dribbble"></i></a></li>
                              </ul>
                              <!-- /.social-links -->
                          </div>
                          <!-- /.social-link-wrapper -->
                      </div>
                      <!-- /.row -->
                  </div>
                  <!-- /.container -->
              </header>
              <!-- /.header-1 -->
              <header id="header-2" class="header">
                  <nav class="navbar navbar-default" role="navigation">
                      <div class="container">
                          <!-- Brand and toggle get grouped for better mobile display -->
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              </button>
                              <a class="navbar-brand" href="/">Flat<span>Point.</span></a>
                          </div>
                          <!-- Collect the nav links, forms, and other content for toggling -->
                          <div class="collapse navbar-collapse navbar-ex1-collapse">
                              <ul class="nav navbar-nav">
                                  <li class="dropdown active">
                                      <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                      <ul class="dropdown-menu">
                                          <li class="active"><a href="/">Manager Items 1</a></li>
                                          <li><a href="/index-2.html">Home Layout 2</a></li>
                                          <li><a href="/index-3.html">Home Layout 3</a></li>
                                          <li><a href="/index-4.html">Home Layout 4</a></li>
                                          <li><a href="/index-5.html">Home Layout 5</a></li>
                                      </ul>
                                  </li>
                                  <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coverage</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="/shifts">UI Elements</a></li>
                                          <li><a href="buttons.html">Buttons</a></li>
                                          <li><a href="icons.html">Icons</a></li>
                                          <li><a href="pricing.html">Pricing Tables</a></li>
                                      </ul>
                                  </li>
                                  <li class="dropdown">
                                      <a href="/signup" class="dropdown-toggle" data-toggle="dropdown">Add Employee</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="about.html">About Us</a></li>
                                          <li><a href="team.html">Our Team</a></li>
                                          <li><a href="services.html">Services</a></li>
                                          <li><a href="faqs.html">FAQs</a></li>
                                          <li><a href="shop-1.html">Shop Layout 1</a></li>
                                          <li><a href="shop-2.html">Shop Layout 2</a></li>
                                          <li><a href="shop-3.html">Shop Layout 3</a></li>
                                          <li><a href="shop-4.html">Shop Layout 4</a></li>
                                          <li><a href="shop-item-1.html">Shop Item 1</a></li>
                                          <li><a href="shop-item-2.html">Shop Item 2</a></li>
                                          <li><a href="404.html">404 Not Found</a></li>
                                      </ul>
                                  </li>
                                  <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="/portfolio-2.html">Portfolio 2 Columns</a></li>
                                          <li><a href="/portfolio-3.html">Portfolio 3 Columns</a></li>
                                          <li><a href="/portfolio-4.html">Portfolio 4 Columns</a></li>
                                          <li><a href="/portfolio-item-1.html">Portfolio Item 1</a></li>
                                          <li><a href="/portfolio-item-2.html">Portfolio Item 2</a></li>
                                      </ul>
                                  </li>
                                  <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="/blog-1.html">Blog Layout 1</a></li>
                                          <li><a href="/blog-2.html">Blog Layout 2</a></li>
                                          <li><a href="/blog-3.html">Blog Layout 3</a></li>
                                          <li><a href="/blog-4.html">Blog Layout 4</a></li>
                                          <li><a href="/post-1.html">Post Layout 1</a></li>
                                          <li><a href="/post-2.html">Post Layout 2</a></li>
                                      </ul>
                                  </li>
                                  <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="contact-1.html">Contact 1</a></li>
                                          <li><a href="contact-2.html">Contact 2</a></li>
                                      </ul>
                                  </li>
                              </ul>
                              <!-- /.nav -->
                          </div>
                          <!-- /.navbar-collapse -->
                      </div>
                      <!-- /.container -->
                  </nav>
                  <!-- /.navbar -->
              </header>
              <!-- /#header-2 -->
              <section id="bannercontainer" class="bannercontainer">
                  <div class="banner">
                      <ul>
                          <!-- THE 1ST SLIDE -->
                          <li data-transition="papercut" data-slotamount="10" data-masterspeed="300">
                              <img src="/img/slides/slide1.jpg" alt="Slide Image">
                              <div class="tp-caption large_bold_white lft ltt"
                                  data-x="47"
                                  data-y="80"
                                  data-speed="300"
                                  data-start="1200"
                                  data-easing="easeOutExpo" style="font-size: 50px; line-height: 50px;">RESPONSIVE <br> DESIGN</div>
                              <div class="tp-caption small_light_white sfl stl"
                                  data-x="50"
                                  data-y="185"
                                  data-speed="600"
                                  data-start="1400"
                                  data-easing="easeOutExpo">
                                  Lorem ipsum dolor sit amet, eum cu sint dolores, dicat<br>
                                  possit malorum at sit, ut natum assentior mea. Mel<br>
                                  congue malorum te, eu cum blandit salutatus comprehensam<br> 
                                  atqui causae ancillae cum ei.
                              </div>
                              <a href="" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                  data-x="50"
                                  data-y="320"
                                  data-speed="300" 
                                  data-start="1600"
                                  data-easing="easeOutExpo">Learn More</a>
                              <a href="/" class="caption btn btn-flat flat-color sfb stb"  
                                  data-x="170" 
                                  data-y="320" 
                                  data-speed="300"
                                  data-start="1800"
                                  data-easing="easeOutExpo">View Schedule</a>
                              <div class="caption lfr ltr"
                                  data-x="725"
                                  data-y="50"
                                  data-speed="300"
                                  data-start="2000"
                                  data-easing="easeOutExpo"><img src="/img/slides/iphone (1).png" alt="Slide Image"></div>
                              <div class="caption lfr ltr"
                                  data-x="565"
                                  data-y="50"
                                  data-speed="300"
                                  data-start="2200"
                                  data-easing="easeOutExpo"><img src="/img/slides/iphone (2).png" alt="Slide Image"></div>
                          </li>
                          <!-- THE 2ND SLIDE -->
                          <li data-transition="slideleft" data-slotamount="10" data-masterspeed="300">
                              <img src="/img/slides/slide2.jpg" alt="Slide Image">
                              <div class="tp-caption large_bold_white lft ltt"
                                  data-x="47"
                                  data-y="80"
                                  data-speed="300"
                                  data-start="1200"
                                  data-easing="easeOutExpo" style="font-size: 50px; line-height: 50px;">SUPPORT <br> VIDEO</div>
                              <div class="tp-caption small_light_white sfl stl"
                                  data-x="50"
                                  data-y="185"
                                  data-speed="600"
                                  data-start="1400"
                                  data-easing="easeOutExpo">
                                  Lorem ipsum dolor sit amet, eum cu sint dolores, dicat<br>
                                  possit malorum at sit, ut natum assentior mea. Mel<br>
                                  congue malorum te, eu cum blandit salutatus comprehensam<br> 
                                  atqui causae ancillae cum ei.
                              </div>
                              <a href="" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                  data-x="50"
                                  data-y="320"
                                  data-speed="300" 
                                  data-start="1600"
                                  data-easing="easeOutExpo">Learn More</a>
                              <a href="" class="caption btn btn-flat flat-color sfb stb"  
                                  data-x="170" 
                                  data-y="320" 
                                  data-speed="300"
                                  data-start="1800"
                                  data-easing="easeOutExpo">Purchase Now</a>
                              <div class="caption lfr ltr"
                                  data-x="590"
                                  data-y="90"
                                  data-speed="300"
                                  data-start="2000"
                                  data-easing="easeOutExpo"><iframe src="http://player.vimeo.com/video/25708134?title=0&amp;byline=0&amp;portrait=0" width="460" height="259"></iframe></div>
                          </li>
                          <!-- THE 3RD SLIDE -->
                          <li data-transition="boxslide" data-slotamount="10" data-masterspeed="300">
                              <img src="/img/slides/slide3.jpg" alt="Slide Image">
                              <div class="tp-caption large_bold_white lft ltt"
                                  data-x="47"
                                  data-y="80"
                                  data-speed="300"
                                  data-start="1200"
                                  data-easing="easeOutExpo" style="font-size: 50px; line-height: 50px;">MODIFY <br> EASILY</div>
                              <div class="tp-caption small_light_white sfl stl"
                                  data-x="50"
                                  data-y="185"
                                  data-speed="600"
                                  data-start="1400"
                                  data-easing="easeOutExpo">
                                  Lorem ipsum dolor sit amet, eum cu sint dolores, dicat<br>
                                  possit malorum at sit, ut natum assentior mea. Mel<br>
                                  congue malorum te, eu cum blandit salutatus comprehensam<br> 
                                  atqui causae ancillae cum ei.
                              </div>
                              <a href="" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                  data-x="50"
                                  data-y="320"
                                  data-speed="300" 
                                  data-start="1600"
                                  data-easing="easeOutExpo">Learn More</a>
                              <a href="" class="caption btn btn-flat flat-color sfb stb"  
                                  data-x="170" 
                                  data-y="320" 
                                  data-speed="300"
                                  data-start="1800"
                                  data-easing="easeOutExpo">Purchase Now</a>
                              <div class="caption lfr ltr"
                                  data-x="675"
                                  data-y="25"
                                  data-speed="300"
                                  data-start="2000"
                                  data-easing="easeOutExpo"><img src="/img/slides/imac.png" alt="Slide Image"></div>
                          </li>
                      </ul>
                      <div class="tp-bannertimer tp-bottom"></div>
                  </div>
                  <!-- /.banner -->
              </section>
              <!-- /.bannercontainer -->

              <section id="awesome-callout" class="section colored-wrapper">
                  <div class="container">
                      <div class="awesome-callout">
                          <h2>Lorem ipsum dolor sit amet?</h2>
                          <p>Pri iriure feugiat ut, nihil utroque ei mei. Eum primis causae scripserit ad, decore inimicus periculis vix id. Pri aeterno nostrud maiestatis ne, assum nonumes eam ne.</p>
                          <a href="/shifts" class="btn btn-flat flat-color btn-lg">View Schedule</a>
                      </div>
                      <!-- /.awesome-callout -->
                  </div>
                  <!-- /.container -->
              </section>
              <!-- /#awesome-callout -->



              <!-- /#footer-2 -->
              <div id="skin-chooser-container" class="skin-chooser-container">
                  <a data-toggle="modal" href="#myModal" class="skin-chooser hidden-xs"><i class="icon-cogs"></i></a>
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">CHOOSE COLOR SKIN</h4>
                              </div>
                              <div class="modal-body">
                                  <div class="skins-wrapper">
                                      <ul class="list-inline">
                                          <li>
                                              <div id="color-skin-1" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-2" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-3" class="color-skin active"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-4" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-5" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-6" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-7" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-8" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-9" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-10" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-11" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-12" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-13" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-14" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-15" class="color-skin"></div>
                                          </li>
                                          <li>
                                              <div id="color-skin-16" class="color-skin"></div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                          </div>
                          <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
              </div>
              <!-- /#skin-chooser-container -->
          </div>
          <!-- /#main-wrapper -->
          <!-- Bootstrap JS & Others JavaScript Plugins
              ================================================== -->
          <!-- Placed At The End Of The Document So Page Loads Faster -->
          <script src="/js/jquery-2.0.3.min.js"></script>
          <script src="/js/jquery-migrate-1.2.1.min.js"></script>
          <script src="/bootstrap/js/bootstrap.min.js"></script>
          
          <!-- jQuery REVOLUTION Slider  -->
          <script src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
          <script src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

          <script src="/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1.js"></script>
          <script src="/prettyPhoto/js/jquery.prettyPhoto.js"></script>
          <script src="/jflickrfeed/jflickrfeed.min.js"></script>
          <script src="/UItoTop/js/easing.js"></script>
          <script src="/UItoTop/js/jquery.ui.totop.min.js"></script>
          <script src="/isotope-site/jquery.isotope.min.js"></script>
          <script src="/FitVids.js/jquery.fitvids.js"></script>
          <script type="text/javascript">
              jQuery(document).ready(function() {
                 jQuery('.banner').revolution({
                    delay:9000,
                    startwidth:1100,
                    startheight:450,
                    startWithSlide:0,
              
                    fullScreenAlignForce:"off",
                    autoHeight:"off",
                    minHeight:"off",
              
                    shuffle:"off",
              
                    onHoverStop:"on",
              
                    thumbWidth:100,
                    thumbHeight:50,
                    thumbAmount:3,
              
                    hideThumbsOnMobile:"off",
                    hideNavDelayOnMobile:1500,
                    hideBulletsOnMobile:"off",
                    hideArrowsOnMobile:"off",
                    hideThumbsUnderResoluition:0,
              
                    hideThumbs:0,
                    hideTimerBar:"off",
              
                    keyboardNavigation:"on",
              
                    navigationType:"bullet",
                    navigationArrows:"solo",
                    navigationStyle:"preview1",
              
                    navigationHAlign:"center",
                    navigationVAlign:"bottom",
                    navigationHOffset:30,
                    navigationVOffset:30,
              
                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,
              
                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,
              
              
                    touchenabled:"on",
                    swipe_velocity:"0.7",
                    swipe_max_touches:"1",
                    swipe_min_touches:"1",
                    drag_block_vertical:"false",
              
                    parallax:"mouse",
                    parallaxBgFreeze:"on",
                    parallaxLevels:[10,7,4,3,2,5,4,3,2,1],
                    parallaxDisableOnMobile:"off",
              
                    stopAtSlide:-1,
                    stopAfterLoops:-1,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    hideSliderAtLimit:0,
              
                    dottedOverlay:"none",
              
                    spinned:"spinner4",
              
                    fullWidth:"off",
                    forceFullWidth:"off",
                    fullScreen:"off",
                    fullScreenOffsetContainer:"#topheader-to-offset",
                    fullScreenOffset:"0px",
              
                    panZoomDisableOnMobile:"off",
              
                    simplifyAll:"off",
              
                    shadow:0
                 });

                 jQuery("a[rel^='prettyPhoto']").prettyPhoto({
                      theme: 'light_square',
                      social_tools: false
                  });
                  // FitVids
                  jQuery(".responsive-video-wrapper").fitVids();
                  // jflickrfeed
                  jQuery('.flickr-photos-list').jflickrfeed({
                      limit: 9,
                      qstrings: {
                          id: '71865026@N00'
                      },
                      itemTemplate: '<li><a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a></li>'
                  });
                  // jQuery UItoTop
                  jQuery().UItoTop({ easingType: 'easeOutQuart' });
                  // Skin Chooser
                  jQuery(".color-skin").click(function () {
                      var cls = this.id;
                      jQuery(".color-skin").removeClass("active");
                      jQuery(this).addClass("active");
                      jQuery("#main-wrapper").removeClass();
                      jQuery("#main-wrapper").addClass(cls);
                  });
              
              });
             
              // jQuery CarouFredSel
              var caroufredsel = function () {
                  jQuery('#caroufredsel-portfolio-container').carouFredSel({
                      responsive: true,
                      scroll: 1,
                      circular: false,
                      infinite: false,
                      items: {
                          visible: {
                              min: 1,
                              max: 3
                          }
                      },
                      prev: '#portfolio-prev',
                      next: '#portfolio-next',
                      auto: {
                          play: false
                      }
                  });
                  jQuery('#caroufredsel-clients-container').carouFredSel({
                      responsive: true,
                      scroll: 1,
                      circular: false,
                      infinite: false,
                      items: {
                          visible: {
                              min: 1,
                              max: 4
                          }
                      },
                      prev: '#client-prev',
                      next: '#client-next',
                      auto: {
                          play: false
                      }
                  });
              };
              jQuery(window).load(function () {
                  caroufredsel();
              });
              jQuery(window).resize(function () {
                  caroufredsel();
              });            
          </script>

  <%= yield %>
  </body>
  <footer id="footer-2" class="footer">
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-12 col-sm-6 footer-info-wrapper">
                              <span>FlatPoint © 2013. Powered by <a href="#">Firework</a></span>                        
                          </div>
                          <!-- /.footer-info-wrapper -->
                          <div class="col-xs-12 col-sm-6 social-link-wrapper">
                              <ul class="social-links">
                                  <li><a href="#"><i class="icon-facebook"></i></a></li>
                                  <li><a href="#"><i class="icon-google-plus"></i></a></li>
                                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                                  <li><a href="#"><i class="icon-pinterest"></i></a></li>
                                  <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                  <li><a href="#"><i class="icon-dribbble"></i></a></li>
                              </ul>
                          </div>
                          <!-- /.social-link-wrapper -->
                      </div>
                      <!-- /.row -->
                  </div>
                  <!-- /.container -->
              </footer>
</html>
